body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1a1818;
  text-align: center;
  padding: 1em;
}

header button {
  color: white;
  background-color: #444;
  border: none;
  margin: 0 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

header button:hover {
  background-color: #555;
}

input {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  box-sizing: border-box;
}

.book-card {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
  background-color: white;
  border-radius: 15px;
  border-color: black;
  width: 200px;
  /* width: calc(50% - 100px); */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .book-card {
    width: calc(50% - 32px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .book-card {
    width: calc(100% - 32px); /* One card per row on smallest screens */
  }
}

.book-card button{
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 7px;
}

.bookcard-btn:hover{
  background-color: darkgreen;
}

.main {
  background-color: #c8ab61; /* Light blue background color */
  min-height: 100vh; /* Ensures the background color covers the full viewport height */
  display: flex;
  flex-direction: column;
  /* background-image: url("/img1.jpg"); */
}

.header {
  width: 100%;
  margin-bottom: 20px;
}

.routes {
  width: 100%;
  max-width: 100%; /* Optional: to limit the maximum width of the content */
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.search-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;

}

.search-panel label{
  color:black;
}

.search-bar label{
  font-size: 22px;
  font-weight: 500;
}

.search-bar input{
  border-radius: 10px;
  font-size: 16px;
}

.nav-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: darkgreen;
}



